body{

}

.titulo-principal{  
             text-align: center;
             color: rgb(164, 91, 248);
             font-size: xx-large;
}

.Robertinho {
    width: 600px;
    height: 350px;
}

.Covid {
    width: 500px;
    height: 350px;
}